<!DOCTYPE html>
<html>
  <head>
    <title> i love cachify </title>
    <%- cachify_css('/prod/min.css') %>
  </head>
  <body>
    This is a page that uses cachify
  </body>
  <%- cachify_js('/prod/min.js') %>
</html>
